<section>
  <div class="flex">
    <label class="mat-display-3 text-center page-title">CAMP-GAME</label>
    <mat-card class="col-10 col-sm-5 col-lg-5 col-xl-5">
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button>
            Perfil
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="getFirestoreItems()">
            Clube
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="saveData()">
            Jogadores
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button>
            Mercado
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="updateLeagues()">
            Update Leagues
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="updateClubs()">
            Update Clubs
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="getClubs()">
            Get Clubs
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="updateFifaPlayers()">
            Update Players
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 menu">
          <button mat-raised-button (click)="getFifa22Players()">
            Get Players
          </button>
        </div>
      </div>
      <mat-card-actions class="flex">
        <button mat-raised-button color="warn" class="login-button">Sair</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>