/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans', sans-serif; }

div.flex {
  display: flex;
}

.page-title {
  color: white;
  text-shadow: 2px 2px rgb(59, 59, 59);
}